.questions-screen {
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  --text-shadow  : 0px 0px 5px #0008;

  color               : #fff;
  --progress-bar-color: #fff;
  --progress-color    : #33b84d;
  --transparent-black : #000A;
}

.questions-screen__question {
  margin: 30px;
}

.questions-screen__question__question-counter {
  align-self    : baseline;
  position      : relative;
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.questions-screen__question__question-counter__txt {
  font-size   : 3.5vh;
  font-weight : 500;
  margin-right: 0.8vh;
  user-select : none;
  text-shadow : var(--text-shadow)
}

.questions-screen__question__question-counter__progress-bar {
  position           : relative;
  width              : 100%;
  height             : 3vh;
  background-color   : var(--progress-bar-color);
  border-radius      : 10vh;
  border             : 0.5px solid var(--transparent-black);
  transition-duration: 0.3s;
  transition-property: width;
  overflow           : hidden;
}

.questions-screen__question__question-counter__progress-bar__progress {
  background-color   : var(--progress-color);
  height             : 100%;
  width              : 0%;
  border-radius      : 0 10vh 10vh 0;
  overflow           : hidden;
  transition-duration: 0.3s;
  /* border-right    : 0.5px solid var(--transparent-black); */
}

.questions-screen__finished {
  margin        : 30px;
  position      : relative;
  display       : flex;
  flex-direction: row;
  align-items   : center;
  align-self    : center;
  flex-direction: column;
  overflow      : auto;
}

.questions-screen__finished__thxTxt {
  font-size : 8vh;
  text-align: center;
}

.questions-screen__finished__gif {
  height: auto;
  width : 50vh;
}

.questions-screen__finished__table {
  border-spacing: 0.2vh;
}

td,
th {
  border    : 0.1vh solid #dddddd;
  text-align: left;
  padding   : 0.8vh;
  font-size : 2vh;
}

@media (max-width: 50vh) {
  .questions-screen__question__question-counter {
    flex-direction: column;
  }
}